<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=360, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "header-fixed.html"
	@import "menu-mobile.html"
	<section class="back">
		<div class="container">
			<h4 class="back-subtitle subtitle">
				<span class="subtitle-span">Обмен и Возврат товаров</span>
			</h4>
			<div class="back-row">
				<p class="back-row-title">Если вы получили товар ненадлежащего качества:</p>
				<p class="back-row-text">Мы приносим свои извинения и готовы обменять вам товар или вернуть деньги.</p>
				<ul class="delivery-list">
					<li class="delivery-list-item"><a href="" class="back-link back-link_form">Заполните форму</a></li>
					<li class="delivery-list-item">В течение 5 дней мы обязательно свяжемся с вами, заменим товар или вернем деньги.</li>
					<li class="delivery-list-item">Обращения принимаются в течение 30 дней с момента получения заказа.</li>
				</ul>
				<p class="back-row-text">Все расходы по обмену и возврату бракованного товара мы берем на себя.</p>
			</div>
			<div class="back-row">
				<p class="back-row-title">Если вы ошиблись с выбором:</p>
				<ul class="delivery-list">
					<li class="delivery-list-item"><a href="" class="back-link back-link_form">Заполните форму</a></li>
					<li class="delivery-list-item">В течение 5 дней мы обязательно свяжемся с вами, заменим товар или вернем деньги.</li>
					<li class="delivery-list-item">Обращения принимаются в течение 7 дней с момента получения заказа.</li>
				</ul>
				<p class="back-row-text">Все расходы по обмену и возврату бракованного товара мы берем на себя.</p>
			</div>
			<div class="back-row">
				<p class="back-row-title">Если вы передумали:</p>
				<ul class="delivery-list">
					<li class="delivery-list-item">Напишите нам на электронный адрес: <a href="mailto:dawson.leannon@prohaska.info" class="back-link">dawson.leannon@prohaska.info</a></li>
					<li class="delivery-list-item">Мы свяжемся с вами и вернем деньги.</li>
					<li class="delivery-list-item">Обращения принимаются в течение 7 дней с момента получения заказа.</li>
				</ul>
			</div>
		</div>
	</section>
	<div class="back-popup">
		<div class="back-popup-content">
			<h4 class="back-popup-title subtitle">Обмен и возврат</h4>
			<form action="" class="back-popup-form">
				<div class="back-popup-left">
					<input type="text" class="back-popup-input" required placeholder="ФИО*">
					<input type="tel" class="back-popup-input" required placeholder="Телефон, указанный в заказе*">
					<input type="text" class="back-popup-input" required placeholder="Номер в заказа*">
					<input type="email" class="back-popup-input" required placeholder="Email*">
					<select class="back-popup-select">
						<option></option>
						<option>Select A</option>
						<option>Select B</option>
						<option>Select C</option>
						<option>Select D</option>
						<option>Select D</option>
						<option>Select D</option>
						<option>Select D</option>
					</select>
					<textarea class="back-popup-textarea" placeholder="Описание ситуации"></textarea>
					<button type="submit" class="back-popup-btn btn">
						<span class="btn-span">Заказать</span>
					</button>
				</div>
				<div class="back-popup-info">
					<img src="img/t-shirt.svg" alt="" class="back-popup-img">
					<p class="back-popup-text">Если вам не подошёл размер, представьте, пожалуйста,
						фотографии изделия с приложенной размерной линейкой
						в ширину (на уровне груди от шва до шва в области
						подмышек) и в длину (длина футболки измеряется
						от верхнего шва горловины до низа изделия), и фото
						ярлыка изделия.</p>
					<p class="back-popup-label">Фотографии не соответсвия</p>
                    <label class="item-form-label item-file">
                        <input type="file" class="item-form-input" name="type">
                        <span class="item-file-span">
                            <span class="item-file-span-title">Выбрать файл</span>
                            <span class="item-file-span-text"></span>
                            <span class="item-file-span-close"></span>
                        </span>
                    </label>
                    <div class="back-popup-files">
                        <div class="back-popup-files-item">
                            <img src="img/file1.jpg" alt="" class="back-popup-files-img">
                            <div class="back-popup-files-close"></div>
                        </div>
                        <div class="back-popup-files-item">
                            <img src="img/file1.jpg" alt="" class="back-popup-files-img">
                            <div class="back-popup-files-close"></div>
                        </div>
                        <div class="back-popup-files-item">
                            <img src="img/file1.jpg" alt="" class="back-popup-files-img">
                            <div class="back-popup-files-close"></div>
                        </div>
                        <div class="back-popup-files-item">
                            <img src="img/file1.jpg" alt="" class="back-popup-files-img">
                            <div class="back-popup-files-close"></div>
                        </div>
                        <div class="back-popup-files-item">
                            <img src="img/file1.jpg" alt="" class="back-popup-files-img">
                            <div class="back-popup-files-close"></div>
                        </div>
                        <div class="back-popup-files-item">
                            <img src="img/file1.jpg" alt="" class="back-popup-files-img">
                            <div class="back-popup-files-close"></div>
                        </div>
                        <div class="back-popup-files-item">
                            <img src="img/file1.jpg" alt="" class="back-popup-files-img">
                            <div class="back-popup-files-close"></div>
                        </div>
                    </div>
				</div>
			</form>
			<div class="back-popup-close"></div>
		</div>
	</div>
    <div class="thank-popup">
		<div class="thank-popup-overlay"></div>
        <div class="thank-popup-main">
            <img src="img/done_dialog.svg" alt="" class="thank-popup-img">
            <h4 class="thank-popup-subtitle subtitle">Спасибо</h4>
            <p class="thank-popup-text">Сообщение отправленно, Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor. </p>
        </div>
        <div class="thank-popup-close"></div>
    </div>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
