<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=360, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "header-fixed.html"
	@import "menu-mobile.html"
	<section class="news">
		<div class="container">
			<div class="news-content">
				<div class="fifth-row">
					<div class="fifth-left">
						<div class="fifth-left-overlay gsapCard" data-delay="0.1"">
							<img src="img/fifth1.jpg" alt="" class="fifth-img">
						</div>
					</div>
					<div class="fifth-right">
						<div class="fifth-right-top">
							<h4 class="fifth-right-title">
								<span class="fifth-right-span span-overflow">
									<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.1">Главный цвет</span>
								</span>
									<span class="fifth-right-span span-overflow">
									<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.2">2019 года</span>
								</span>
							</h4>
							<p class="fifth-right-text gsapFadeTop2" data-height="30" data-delay="0.3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
						</div>
						<a href="" class="fifth-btn btn gsapFadeTop2" data-height="30" data-delay="0.4">
							<span class="btn-span">Подробнее</span>
						</a>
					</div>
				</div>
				<div class="fifth-row fifth-row_reverse">
					<div class="fifth-left">
						<div class="fifth-left-overlay gsapCard" data-delay="0.1"">
							<img src="img/fifth1.jpg" alt="" class="fifth-img">
						</div>
					</div>
					<div class="fifth-right">
						<div class="fifth-right-top">
							<h4 class="fifth-right-title">
								<span class="fifth-right-span span-overflow">
									<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.1">Свитшоты и</span>
								</span>
								<span class="fifth-right-span span-overflow">
									<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.2">толстовки к</span>
								</span>
								<span class="fifth-right-span span-overflow">
									<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.3">Новому году</span>
								</span>
							</h4>
							<p class="fifth-right-text gsapFadeTop2" data-height="30" data-delay="0.4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
						</div>
						<a href="" class="fifth-btn btn gsapFadeTop2" data-height="30" data-delay="0.5">
							<span class="btn-span">Подробнее</span>
						</a>
					</div>
				</div>
				<div class="fifth-row">
					<div class="fifth-left">
						<div class="fifth-left-overlay gsapCard" data-delay="0.1"">
							<img src="img/fifth1.jpg" alt="" class="fifth-img">
						</div>
					</div>
					<div class="fifth-right">
						<div class="fifth-right-top">
							<h4 class="fifth-right-title">
								<span class="fifth-right-span span-overflow">
									<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.1">Главный цвет</span>
								</span>
								<span class="fifth-right-span span-overflow">
									<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.2">2019 года</span>
								</span>
							</h4>
							<p class="fifth-right-text gsapFadeTop2" data-height="30" data-delay="0.3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
						</div>
						<a href="" class="fifth-btn btn gsapFadeTop2" data-height="30" data-delay="0.4">
							<span class="btn-span">Подробнее</span>
						</a>
					</div>
				</div>
				<div class="fifth-row fifth-row_reverse">
					<div class="fifth-left">
						<div class="fifth-left-overlay gsapCard" data-delay="0.1"">
							<img src="img/fifth1.jpg" alt="" class="fifth-img">
						</div>
					</div>
					<div class="fifth-right">
						<div class="fifth-right-top">
							<h4 class="fifth-right-title">
								<span class="fifth-right-span span-overflow">
									<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.1">Скидка для</span>
								</span>
								<span class="fifth-right-span span-overflow">
									<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.2">ранних пташек</span>
								</span>
							</h4>
							<p class="fifth-right-text gsapFadeTop2" data-height="30" data-delay="0.3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
						</div>
						<a href="" class="fifth-btn btn gsapFadeTop2" data-height="30" data-delay="0.4">
							<span class="btn-span">Подробнее</span>
						</a>
					</div>
				</div>
				<div class="fifth-row">
					<div class="fifth-left">
						<div class="fifth-left-overlay gsapCard" data-delay="0.1"">
							<img src="img/fifth1.jpg" alt="" class="fifth-img">
						</div>
					</div>
					<div class="fifth-right">
						<div class="fifth-right-top">
							<h4 class="fifth-right-title">
								<span class="fifth-right-span span-overflow">
									<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.1">Чёрная пятницA</span>
								</span>
							</h4>
							<p class="fifth-right-text gsapFadeTop2" data-height="30" data-delay="0.2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
						</div>
						<a href="" class="fifth-btn btn gsapFadeTop2" data-height="30" data-delay="0.3">
							<span class="btn-span">Подробнее</span>
						</a>
					</div>
				</div>
			</div>
			<div class="news-more">
				<a href="" class="news-more-link">загрузить еще</a>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
