<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=360, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "header-fixed.html"
	@import "menu-mobile.html"
	<section class="post">
		<div class="post-subtitle-hide">
			<h4 class="post-subtitle subtitle span-overflow">
				<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.1">Главный цвет 2019 года</span>
			</h4>
			<p class="post-description gsapFadeTop2" data-height="30" data-delay="0.2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing</p>
		</div>
		<div class="post-content">
			<div class="post-container">
				<div class="post-top">
					<img src="img/post1.jpg" alt="" class="post-content-img gsapFadeTop2" data-height="100" data-delay="0.3">
				</div>
			</div>
			<div class="container">
				<div class="post-subtitle-mob">
					<h4 class="post-subtitle subtitle span-overflow">
						<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.1">Главный цвет <span class="post-nowrap"> 2019 года</span></span>
					</h4>
					<p class="post-description gsapFadeTop2" data-height="30" data-delay="0.2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing</p>

				</div>

				<p class="post-content-text gsapFadeTop2" data-height="30" data-delay="0.4">Уже 20 лет разработчики профессиональных цветовых стандартов Pantone выбирают главный оттенок года. На следующие 365 дней он становится ориентиром для дизайнеров, флористов, архитекторов, маркетологов и всех, кто следит за модой.</p>
				<p class="post-content-text gsapFadeTop2" data-height="30" data-delay="0.5">Ключевым в 2019 стал цвет «Живой коралл» (Pantone 16–1546 Living Coral) - жизнеутверждающий оттенок оранжевого с золотистыми полутонами. В институте цвета Pantone считают, что «Живой коралл» отражает стремление к игривому самовыражению и беззаботной деятельности.
					Разработчики Pantone предлагают дизайнерам экспериментировать с «Живым кораллом», подчеркивая, что он будет искрометно смотреться в узорах, станет прекрасным акцентным оттенком и создаст яркий контраст с любым цветом спектра.
				</p>
				<div class="post-content-first">
					<img src="img/post2.jpg" alt="" class="post-content-img gsapFadeTop2" data-height="100" data-delay="0.1">
				</div>
				<p class="post-content-text gsapFadeTop2" data-height="300" data-delay="0.1">Представители компании не скрывают, как происходит отбор главного цвета года. Команда института анализирует новые технологии, индустрию развлечений, социальные сети (особенно Инстаграм), подиумные тренды, популярные места для путешествий и даже предстоящие спортивные мероприятия, которые привлекают внимание всего мира. Так команда формирует «контрольные точки» - примеры цветов, которые они видят в мире искусства и дизайна. Постепенно они сужают выборку, пока не сойдутся на одном оттенке. Взяв полученные данные за основу, специалисты Pantone Color Institute решают, какой цвет будет лучше всего отражать настроения людей в связи с политической обстановкой и социальными тенденциями. В 2016 Pantone объявили сразу 2 цвета года. Сиреневый Serenity и розовый Rose Quartz стали отражением избыточной технологизации мира и желанием вернуться к чему-то более мягкому и природно-естественному.</p>
				<div class="post-content-second">
					<img src="img/post3.jpg" alt="" class="post-content-img gsapFadeTop2" data-height="100" data-delay="0.1">
				</div>
				<p class="post-content-text gsapFadeTop2" data-height="30" data-delay="0.1">«Онлайн-мир дегуманизирует многие вещи в нашей жизни, поэтому мы инстинктивно ищем оттенки, которые дарят нам человеческое тепло и общение, – рассказал в интервью Associated Press Лори Прессман, вице-президент Pantone. – Вокруг себя мы ищем цвета, с которыми нам комфортно, которые не раздражают и вызывают ассоциации с чем-то натуральным и настоящим». По мнению команды Pantone, «Живой коралл» – это логическое продолжение созерцательного ультрафиолета, который главенствовал в 2018-м и символизировал изменения к лучшему. За год до этого настроение определял оттенок Greenery, который по-своему демонстрировал, что человек нуждается в природе и в спокойствии, которое она дарит.</p>
				<p class="post-content-text gsapFadeTop2" data-height="30" data-delay="0.1">Специалисты Института подготовили 5 очень разных палитр, построенных вокруг цвета 2019 года — используйте их при разработке принтов для футболок.</p>

			</div>
			<div class="post-container">
				<div class="post-content-bottom">
					<img src="img/post4.jpg" alt="" class="post-content-bottom-img gsapFadeTop2" data-height="30" data-delay="0.1">
					<img src="img/post5.jpg" alt="" class="post-content-bottom-img gsapFadeTop2" data-height="30" data-delay="0.2">
					<img src="img/post6.jpg" alt="" class="post-content-bottom-img gsapFadeTop2" data-height="30" data-delay="0.3">
					<img src="img/post7.jpg" alt="" class="post-content-bottom-img gsapFadeTop2" data-height="30" data-delay="0.1">
					<img src="img/post8.jpg" alt="" class="post-content-bottom-img gsapFadeTop2" data-height="30" data-delay="0.2">
					<img src="img/post9.jpg" alt="" class="post-content-bottom-img gsapFadeTop2" data-height="30" data-delay="0.3">
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
