<footer class="footer">
    <div class="footer-top">
        <div class="footer-block">
            <h6 class="footer-title">Печать</h6>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-item-link">Футболки</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Поло</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Свитшоты</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Толстовки</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Кружки</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Чехлы</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Банеры</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">холсты</a>
                </li>
            </ul>
        </div>
        <div class="footer-block">
            <h6 class="footer-title">услуги</h6>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-item-link">Фото на документы</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Копия документов</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Распечатка документов</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Сканирование документов</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Ламинирование</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Широкоформатная печать</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Сувенирная продукция</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Изготовление визиток и флаера</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Изготовление печатей и штампов</a>
                </li>
            </ul>
        </div>
        <div class="footer-block">
            <h6 class="footer-title">технологии</h6>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-item-link">Прямая печать</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Шелкография</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Термоперенос</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Эко-сольвент</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Вышивка</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Сублимация</a>
                </li>
            </ul>
        </div>
        <div class="footer-block">
            <h6 class="footer-title">клиентам</h6>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-item-link">Доставка</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Оплата</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item-link">Возврат товаров</a>
                </li>
            </ul>
            <div class="footer-contacts">
                <a href="tel:5612900400" class="footer-link">561-290-0400</a>
                <a href="tel:5612900400" class="footer-link">561-290-0400</a>
                <a href="mailto:pouros.rico@eva.us" class="footer-link footer-link_mail">pouros.rico@eva.us</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="footer-bottom-label">© Photo-to, 2018</p>
        <div class="footer-contacts footer-contacts_mobile">
            <a href="tel:5612900400" class="footer-link">561-290-0400</a>
            <a href="tel:5612900400" class="footer-link">561-290-0400</a>
            <a href="mailto:pouros.rico@eva.us" class="footer-link footer-link_mail">pouros.rico@eva.us</a>
        </div>
        <div class="footer-bottom-info">
            <p class="footer-bottom-text">Разработка и поддержка сайта</p>
            <a href="" class="footer-bottom-link">
                <img src="img/future.svg" alt="" class="footer-bottom-img">
            </a>
        </div>
    </div>
</footer>