<div class="menu">
    <div class="menu-content">
        <div class="menu-first">
            <div class="menu-top">
                <a href="" class="menu-top-title">Личный кабинет</a>
            </div>
            <nav class="header-nav header-nav_mobile">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a href="" class="header-nav-link active">главная</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="" class="header-nav-link">каталог</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="" class="header-nav-link">Цены</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="" class="header-nav-link js-drop">Услуги</a>
                        <div class="header-drop">
                            <ul class="header-drop-list">
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">Термоперенос</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">Прямая печать</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">Шелкография</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">ЭКО-СОЛЬВЕНТ</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">ВЫШИВКА</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">СУБЛИМАЦИЯ</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">фото на документы</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">копия документов</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">печать документов</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">сканирование документов</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">ламинирование</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">широкоформатная печать</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">изготовление визиток</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">изготовление флаеров</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">изготовление печатей</a>
                                </li>
                                <li class="header-drop-item">
                                    <a href="" class="header-drop-link">изготовление штампов</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-item">
                        <a href="" class="header-nav-link">Новости</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="" class="header-nav-link">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
        <ul class="menu-submenu">
            <li class="header-nav-item">
                <a href="" class="header-nav-link">доставка</a>
            </li>
            <li class="header-nav-item">
                <a href="" class="header-nav-link">оплата</a>
            </li>
            <li class="header-nav-item">
                <a href="" class="header-nav-link">возврат товара</a>
            </li>
        </ul>
    </div>
</div>