<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "header-fixed.html"
	<section class="contacts">
		<div class="container">
			<div class="contacts-map gsapFadeTop2" data-delay="0.1" data-height="100">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A84caf23475c4f0c68fe92719fc3b5f1a604708227916a0d469e02950f6d80c86&amp;source=constructor" width="100%" height="420" frameborder="0"></iframe>
			</div>
			<div class="contacts-info">
				<div class="contacts-info-left">
					<div class="contacts-info-block">
						<h6 class="contacts-info-title">Адрес:</h6>
						<p class="contacts-info-text">Москва, огородный проезд дом 10 ТЦ "Зеленый"</p>
					</div>
					<div class="contacts-info-block">
						<h6 class="contacts-info-title">Телефоны:</h6>
						<a href="tel:8(800)6435616" class="contacts-info-text">8 (800) 643–56–16</a>
						<a href="tel:8(495)7660876" class="contacts-info-text">8 (495) 766–08–76</a>
					</div>
					<div class="contacts-info-block">
						<h6 class="contacts-info-title">График работы:</h6>
						<p class="contacts-info-text">Пн. - Сб. 08:00 - 19:00</p>
						<p class="contacts-info-text">Вс. 10:00 - 16:00</p>
					</div>
				</div>
				<div class="contacts-info-right">
					<h6 class="contacts-info-title">Реквизиты:</h6>
					<div class="contacts-info-table">
						<div class="contacts-info-row">
							<p class="contacts-info-label">Организация</p>
							<p class="contacts-info-value">ООО "Фото-то"</p>
						</div>
						<div class="contacts-info-row">
							<p class="contacts-info-label">Юридический адрес</p>
							<p class="contacts-info-value">Москва, огородный проезд дом 10 ТЦ "Зеленый"</p>
						</div>
						<div class="contacts-info-row">
							<p class="contacts-info-label">Фактический адрес</p>
							<p class="contacts-info-value">Москва, огородный проезд дом 10 ТЦ "Зеленый"</p>
						</div>
						<div class="contacts-info-row">
							<p class="contacts-info-label">ИНН / КПП</p>
							<p class="contacts-info-value">7715464204 / 771501001</p>
						</div>
						<div class="contacts-info-row">
							<p class="contacts-info-label">Коды по ОКАТО</p>
							<p class="contacts-info-value">45280558000</p>
						</div>
						<div class="contacts-info-row">
							<p class="contacts-info-label">ОГРН</p>
							<p class="contacts-info-value">1157746304231</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
