<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "header-fixed.html"
	<section class="profile">
		<div class="container">
			<h4 class="profile-subtitle subtitle">
				<span class="subtitle-span">Личная информация</span>
			</h4>
			<div class="profile-main">
				<div class="profile-top">
					<div class="profile-tabs">
						<a href="" class="profile-tab active">информация</a>
						<a href="" class="profile-tab">Мои заказы</a>
						<a href="" class="profile-tab">изменить пароль</a>
						<a href="" class="profile-tab">мои файлы</a>
					</div>
					<a href="" class="profile-out">Выйти</a>
				</div>
				<div class="profile-content">
					<div class="profile-list">
						<div class="profile-item active">
							<div class="profile-table">
								<div class="profile-table-row">
									<p class="profile-table-key">Имя:</p>
									<p class="profile-table-value">Cameron</p>
								</div>
								<div class="profile-table-row">
									<p class="profile-table-key">Фамилия:</p>
									<p class="profile-table-value">Nguyen</p>
								</div>
								<div class="profile-table-row">
									<p class="profile-table-key">Телефон:</p>
									<p class="profile-table-value">901-006-2639</p>
								</div>
								<div class="profile-table-row">
									<p class="profile-table-key">Email:</p>
									<p class="profile-table-value">brisa.hayes@benny.com</p>
								</div>
							</div>
							<div class="profile-btns">
								<a href="" class="profile-btn btn profile-btn_edit">
									<span class="btn-span">Редактировать информацию</span>
								</a>
								<a href="" class="profile-btn profile-btn_delete btn">
									<span class="btn-span">удалить профиль</span>
								</a>
							</div>
						</div>
						<div class="profile-item">
							<div class="profile-order">
								<div class="profile-order-top">
									<div class="profile-order-left">
										<div class="profile-order-column">
											<p class="profile-order-title">Заказ</p>
											<p class="profile-order-value js-order-number">№77886</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">Дата</p>
											<p class="profile-order-value">11/17/2019</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">кол-во</p>
											<p class="profile-order-value">4</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">Сумма</p>
											<p class="profile-order-value">4899 ₽</p>
										</div>
									</div>
									<span class="header-basket-label">не оплачен</span>
								</div>
								<div class="profile-order-bottom">
									<div class="profile-order-bottom-left">
										<img src="img/basket.jpg" alt="" class="profile-order-bottom-img">
										<img src="img/basket.jpg" alt="" class="profile-order-bottom-img">
										<img src="img/basket.jpg" alt="" class="profile-order-bottom-img">
										<img src="img/basket.jpg" alt="" class="profile-order-bottom-img">
										<img src="img/basket.jpg" alt="" class="profile-order-bottom-img">
									</div>
									<div class="profile-order-bottom-right">
										<p class="profile-order-bottom-text">Заказ в обработке</p>
										<a href="" class="profile-order-bottom-btn btn">
											<span class="btn-span">Смотреть заказ</span>
										</a>
									</div>
								</div>
							</div>
							<div class="profile-order">
								<div class="profile-order-top">
									<div class="profile-order-left">
										<div class="profile-order-column">
											<p class="profile-order-title">Заказ</p>
											<p class="profile-order-value js-order-number">№77887</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">Дата</p>
											<p class="profile-order-value">11/17/2019</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">кол-во</p>
											<p class="profile-order-value">1</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">Сумма</p>
											<p class="profile-order-value">4899 ₽</p>
										</div>
									</div>
									<span class="header-basket-label active">оплачен</span>
								</div>
								<div class="profile-order-bottom">
									<div class="profile-order-bottom-left">
										<img src="img/basket.jpg" alt="" class="profile-order-bottom-img">
									</div>
									<div class="profile-order-bottom-right">
										<p class="profile-order-bottom-text">Заказ в обработке</p>
										<a href="" class="profile-order-bottom-btn btn">
											<span class="btn-span">Смотреть заказ</span>
										</a>
									</div>
								</div>
							</div>
							<div class="profile-order">
								<div class="profile-order-top">
									<div class="profile-order-left">
										<div class="profile-order-column">
											<p class="profile-order-title">Заказ</p>
											<p class="profile-order-value js-order-number">№77887</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">Дата</p>
											<p class="profile-order-value">11/17/2019</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">кол-во</p>
											<p class="profile-order-value">1</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">Сумма</p>
											<p class="profile-order-value">4899 ₽</p>
										</div>
									</div>
									<span class="header-basket-label active">оплачен</span>
								</div>
								<div class="profile-order-bottom">
									<div class="profile-order-bottom-left">
										<img src="img/basket.jpg" alt="" class="profile-order-bottom-img">
									</div>
									<div class="profile-order-bottom-right">
										<p class="profile-order-bottom-text">Заказ в обработке</p>
										<a href="" class="profile-order-bottom-btn btn">
											<span class="btn-span">Смотреть заказ</span>
										</a>
									</div>
								</div>
							</div>
							<div class="profile-order">
								<div class="profile-order-top">
									<div class="profile-order-left">
										<div class="profile-order-column">
											<p class="profile-order-title">Заказ</p>
											<p class="profile-order-value js-order-number">№77887</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">Дата</p>
											<p class="profile-order-value">11/17/2019</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">кол-во</p>
											<p class="profile-order-value">1</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">Сумма</p>
											<p class="profile-order-value">4899 ₽</p>
										</div>
									</div>
									<span class="header-basket-label active">оплачен</span>
								</div>
								<div class="profile-order-bottom">
									<div class="profile-order-bottom-left">
										<img src="img/basket.jpg" alt="" class="profile-order-bottom-img">
									</div>
									<div class="profile-order-bottom-right">
										<p class="profile-order-bottom-text">Заказ в обработке</p>
										<a href="" class="profile-order-bottom-btn btn">
											<span class="btn-span">Смотреть заказ</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="profile-item">
							<form action="" class="profile-pass">
								<input type="password" class="profile-pass-input profile-pass-input_new" required placeholder="Введите текущий пароль">
								<input type="password" class="profile-pass-input" required placeholder="Введите новый пароль">
								<input type="password" class="profile-pass-input" required placeholder="Повторите новый пароль">
								<button type="submit" class="profile-btn profile-btn_pass btn">
									<span class="btn-span">Сохранить изменения</span>
								</button>
							</form>
						</div>
						<div class="profile-item">
							<div class="profile-file">
								<div class="profile-file-item">
									<img src="img/file1.jpg" alt="" class="profile-file-img" data-src="img/file-big.jpg">
									<div class="profile-file-close"></div>
								</div>
								<div class="profile-file-item">
									<img src="img/file2.jpg" alt="" class="profile-file-img" data-src="img/file1.jpg">
									<div class="profile-file-close"></div>
								</div>
								<div class="profile-file-item">
									<img src="img/file3.jpg" alt="" class="profile-file-img" data-src="img/file-big.jpg">
									<div class="profile-file-close"></div>
								</div>
								<div class="profile-file-item">
									<img src="img/file4.jpg" alt="" class="profile-file-img" data-src="img/file-big.jpg">
									<div class="profile-file-close"></div>
								</div>
								<div class="profile-file-item">
									<img src="img/file5.jpg" alt="" class="profile-file-img" data-src="img/file-big.jpg">
									<div class="profile-file-close"></div>
								</div>
								<div class="profile-file-item">
									<img src="img/file6.jpg" alt="" class="profile-file-img" data-src="img/file-big.jpg">
									<div class="profile-file-close"></div>
								</div>
								<div class="profile-file-item">
									<img src="img/file7.jpg" alt="" class="profile-file-img" data-src="img/file-big.jpg">
									<div class="profile-file-close"></div>
								</div>
								<div class="profile-file-item">
									<img src="img/file8.jpg" alt="" class="profile-file-img" data-src="img/file-big.jpg">
									<div class="profile-file-close"></div>
								</div>
								<div class="profile-file-item">
									<img src="img/file9.jpg" alt="" class="profile-file-img" data-src="img/file-big.jpg">
									<div class="profile-file-close"></div>
								</div>
							</div>
							<div class="profile-file-popup">
								<img src="" alt="" class="profile-file-popup-img">
								<div class="profile-file-popup-close"></div>
							</div>
						</div>
						<div class="profile-item profile-item_detalis">
							<div class="profile-view">
								<div class="profile-view-top">
									<div class="profile-order-left">
										<div class="profile-order-column">
											<p class="profile-order-title">Заказ</p>
											<p class="profile-order-value">№77887</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">Дата</p>
											<p class="profile-order-value">11/17/2019</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">кол-во</p>
											<p class="profile-order-value">1</p>
										</div>
										<div class="profile-order-column">
											<p class="profile-order-title">Сумма</p>
											<p class="profile-order-value">4899 ₽</p>
										</div>
									</div>
									<span class="header-basket-label">не оплачен</span>
								</div>
								<div class="profile-view-main">
									<div class="order-item">
										<div class="order-photo">
											<img src="img/basket.jpg" alt="" class="order-photo-img">
										</div>
										<div class="order-info">
											<h6 class="order-info-title">Толстовка унисекс синяя</h6>
											<span class="header-basket-label active">С печатью</span>
											<div class="order-info-table">
												<div class="order-info-row">
													<p class="order-info-key">Размер:</p>
													<p class="order-info-value">XL</p>
												</div>
												<div class="order-info-row">
													<p class="order-info-key">Формат печати:</p>
													<p class="order-info-value">A4</p>
												</div>
												<div class="order-info-row">
													<p class="order-info-key">Что печатать:</p>
													<p class="order-info-value">Картинка</p>
												</div>
												<div class="order-info-row">
													<p class="order-info-key">Способ печати:</p>
													<p class="order-info-value">Прямая печать</p>
												</div>
												<div class="order-info-row">
													<p class="order-info-key">Количество:</p>
													<p class="order-info-value">1шт.</p>
												</div>
												<div class="order-info-row">
													<p class="order-info-key">Сумма:</p>
													<p class="order-info-value">1280 руб.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="order-item">
										<div class="order-photo">
											<img src="img/basket.jpg" alt="" class="order-photo-img">
										</div>
										<div class="order-info">
											<h6 class="order-info-title">Толстовка унисекс синяя</h6>
											<span class="header-basket-label">Без печати</span>
											<div class="order-info-table">
												<div class="order-info-row">
													<p class="order-info-key">Размер:</p>
													<p class="order-info-value">XL</p>
												</div>
												<div class="order-info-row">
													<p class="order-info-key">Количество:</p>
													<p class="order-info-value">1шт.</p>
												</div>
												<div class="order-info-row">
													<p class="order-info-key">Сумма:</p>
													<p class="order-info-value">1280 руб.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="profile-view-bottom">
									<div class="profile-view-bottom-row">
										<div class="profile-view-bottom-left">
											<p class="profile-view-bottom-title">Доставка</p>
											<p class="profile-view-bottom-text">New Adityabury</p>
											<p class="profile-view-bottom-text">371 Kilback Underpass</p>
											<p class="profile-view-bottom-text">Devin Vargas</p>
											<p class="profile-view-bottom-text">551-730-2391</p>
										</div>
										<div class="profile-view-bottom-center">
											<p class="profile-view-bottom-title">Способ доставки</p>
											<p class="profile-view-bottom-text">Курьером</p>
										</div>
										<div class="profile-view-bottom-right">
											<p class="profile-view-bottom-title">стоимость доставки</p>
											<p class="profile-view-bottom-text">300 ₽</p>
										</div>
									</div>
									<a class="profile-view-bottom-btn btn">
										<span class="btn-span">Оформить заказ</span>
									</a>
								</div>
							</div>
						</div>
						<div class="profile-item profile-item_edit">
							<div class="profile-edit">
								<form action="" class="profile-edit-form">
									<div class="profile-edit-row">
										<p class="profile-edit-title">Личная информация</p>
										<input type="text" class="profile-pass-input" required="" placeholder="Jeremiah">
										<input type="text" class="profile-pass-input" required="" placeholder="Mann">
										<input type="email" class="profile-pass-input" required="" placeholder="franecki_isom@marvin.biz">
										<input type="tel" class="profile-pass-input" required="" placeholder="671-823-5885">
									</div>
									<div class="profile-edit-row">
										<p class="profile-edit-title">социальные связи</p>
										<a href="" class="profile-edit-link profile-edit-link_vk">Вконтакте <span class="profile-edit-link-label">Отключить</span></a>
										<a href="" class="profile-edit-link profile-edit-link_fb">Фейсбук <span class="profile-edit-link-label">Подключить</span></a>
									</div>
									<button type="submit" class="profile-btn btn profile-btn_save">
										<span class="btn-span">Сохранить изменения</span>
									</button>
								</form>
							</div>
						</div>
					</div>
					<div class="profile-right">
						<div class="profile-cart">
							<div class="profile-cart-top">
								<p class="profile-cart-title">Ваша бонусная карта</p>
								<p class="profile-cart-text">Lorem ipsum dolor sit amet, consectetuer</p>
							</div>
							<div class="profile-cart-bottom">
								<div class="profile-cart-item">
									<p class="profile-cart-subtitle">номер карты:</p>
									<p class="profile-cart-value">00879</p>
								</div>
								<div class="profile-cart-item profile-cart-item_right">
									<p class="profile-cart-subtitle">скидка:</p>
									<p class="profile-cart-value">- 5%</p>
								</div>
							</div>
						</div>
						<p class="profile-right-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
					</div>
				</div>
			</div>
			<div class="profile-bottom">
				<p class="profile-bottom-title">примеры принтов:</p>
				<div class="profile-bottom-list">
					<div class="profile-bottom-item gsapFadeTop2" data-height="30" data-delay="0.1">
						<img src="img/slider1.png" alt="" class="profile-bottom-img">
					</div>
					<div class="profile-bottom-item gsapFadeTop2" data-height="30" data-delay="0.2">
						<img src="img/slider1.png" alt="" class="profile-bottom-img">
					</div>
					<div class="profile-bottom-item gsapFadeTop2" data-height="30" data-delay="0.3">
						<img src="img/slider1.png" alt="" class="profile-bottom-img">
					</div>
					<div class="profile-bottom-item gsapFadeTop2" data-height="30" data-delay="0.4">
						<img src="img/slider1.png" alt="" class="profile-bottom-img">
					</div>
					<div class="profile-bottom-item gsapFadeTop2" data-height="30" data-delay="0.1">
						<img src="img/slider1.png" alt="" class="profile-bottom-img">
					</div>
					<div class="profile-bottom-item gsapFadeTop2" data-height="30" data-delay="0.2">
						<img src="img/slider1.png" alt="" class="profile-bottom-img">
					</div>
					<div class="profile-bottom-item gsapFadeTop2" data-height="30" data-delay="0.3">
						<img src="img/slider1.png" alt="" class="profile-bottom-img">
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
