<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "header-fixed.html"
	<section class="view">
		<div class="container">
			<div class="view-content">
				<div class="view-left gsapFadeTop2" data-height="30" data-delay="0.4">
					<img src="img/view.png" alt="" class="view-img">
				</div>
				<div class="view-right">
					<p class="view-order">Заказ №8899</p>
					<h4 class="view-subtitle subtitle">
						<span class="fifth-right-span span-overflow">
							<span class="subtitle-span gsapFadeTop2" data-height="30" data-delay="0.1">Толстовка унисекс</span>
						</span>
						<span class="fifth-right-span span-overflow">
							<span class="subtitle-span gsapFadeTop2" data-height="30" data-delay="0.2">синяя</span>
						</span>
					</h4>
					<div class="order-info-table view-table gsapFade" data-delay="0.1">
						<div class="order-info-row">
							<p class="order-info-key">Размер:</p>
							<p class="order-info-value">XL</p>
						</div>
						<div class="order-info-row">
							<p class="order-info-key">Формат печати:</p>
							<p class="order-info-value">A4</p>
						</div>
						<div class="order-info-row">
							<p class="order-info-key">Что печатать:</p>
							<p class="order-info-value">Картинка</p>
						</div>
						<div class="order-info-row">
							<p class="order-info-key">Способ печати:</p>
							<p class="order-info-value">Прямая печать</p>
						</div>
						<div class="order-info-row">
							<p class="order-info-key">Количество:</p>
							<p class="order-info-value">1шт.</p>
						</div>
						<div class="order-info-row">
							<p class="order-info-key">Сумма:</p>
							<p class="order-info-value">1280 руб.</p>
						</div>
					</div>
					<div class="view-total gsapFade" data-delay="0.1">
						<div class="order-info-row">
							<p class="order-info-key order-info-key_total">Доставка:</p>
							<p class="order-info-valu order-info-value_total">
								<span class="order-info-value-number">380</span> руб.
							</p>
						</div>
						<div class="order-info-row">
							<p class="order-info-key order-info-key_total">Общая сумма:</p>
							<p class="order-info-valu order-info-value_total">
								<span class="order-info-value-number">1890</span> руб.
							</p>
						</div>
					</div>
					<a href="" class="view-btn btn gsapFade" data-delay="0.1">
						<span class="btn-span">Оплатить заказ</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
