<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "header-fixed.html"
	<section class="catalog">
		<div class="second-content">
			<div class="second-item gsapFadeTop2" data-delay="0.1" data-height="50" >
				<img src="img/cart1.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
			<div class="second-item gsapFadeTop2" data-delay="0.2" data-height="50">
				<img src="img/cart2.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
			<div class="second-item gsapFadeTop2" data-delay="0.3" data-height="50">
				<img src="img/cart3.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
			<div class="second-item gsapFadeTop2" data-delay="0.4" data-height="50">
				<img src="img/cart4.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
			<div class="second-item gsapFadeTop2" data-delay="0.1" data-height="50">
				<img src="img/cart5.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
			<div class="second-item gsapFadeTop2" data-delay="0.2" data-height="50">
				<img src="img/cart6.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
			<div class="second-item gsapFadeTop2" data-delay="0.3" data-height="50">
				<img src="img/cart3.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
			<div class="second-item gsapFadeTop2" data-delay="0.4" data-height="50">
				<img src="img/cart4.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
