<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "header-fixed.html"
	<section class="catalog">
		<h2 class="catalog-subtitle subtitle">
			<span class="subtitle-span gsapFadeTop2" data-delay="0.1" data-height="30">Толстовки</span>
		</h2>
		<div class="second-content">
			<div class="catalog-item gsapFadeTop2" data-delay="0.1" data-height="50">
				<img src="img/catalog1.png" alt="" class="catalog-item-img">
				<div class="catalog-item-content">
					<div class="catalog-item-top">
						<p class="catalog-item-text">Цена</p>
						<p class="second-item-price">
							<span class="second-item-price-number">870</span>
							<span class="second-item-price-currency">₽</span>
						</p>
					</div>
					<a href="" class="btn second-item-btn">
						<span class="btn-span">Заказать</span>
					</a>
				</div>
			</div>
			<div class="catalog-item gsapFadeTop2" data-delay="0.2" data-height="50">
				<img src="img/catalog2.png" alt="" class="catalog-item-img">
				<div class="catalog-item-content">
					<div class="catalog-item-top">
						<p class="catalog-item-text">Цена</p>
						<p class="second-item-price">
							<span class="second-item-price-number">870</span>
							<span class="second-item-price-currency">₽</span>
						</p>
					</div>
					<a href="" class="btn second-item-btn">
						<span class="btn-span">Заказать</span>
					</a>
				</div>
			</div>
			<div class="catalog-item gsapFadeTop2" data-delay="0.3" data-height="50">
				<img src="img/catalog3.png" alt="" class="catalog-item-img">
				<div class="catalog-item-content">
					<div class="catalog-item-top">
						<p class="catalog-item-text">Цена</p>
						<p class="second-item-price">
							<span class="second-item-price-number">870</span>
							<span class="second-item-price-currency">₽</span>
						</p>
					</div>
					<a href="" class="btn second-item-btn">
						<span class="btn-span">Заказать</span>
					</a>
				</div>
			</div>
			<div class="catalog-item gsapFadeTop2" data-delay="0.4" data-height="50">
				<img src="img/catalog4.png" alt="" class="catalog-item-img">
				<div class="catalog-item-content">
					<div class="catalog-item-top">
						<p class="catalog-item-text">Цена</p>
						<p class="second-item-price">
							<span class="second-item-price-number">870</span>
							<span class="second-item-price-currency">₽</span>
						</p>
					</div>
					<a href="" class="btn second-item-btn">
						<span class="btn-span">Заказать</span>
					</a>
				</div>
			</div>
			<div class="catalog-item gsapFadeTop2" data-delay="0.1" data-height="50">
				<img src="img/catalog2.png" alt="" class="catalog-item-img">
				<div class="catalog-item-content">
					<div class="catalog-item-top">
						<p class="catalog-item-text">Цена</p>
						<p class="second-item-price">
							<span class="second-item-price-number">870</span>
							<span class="second-item-price-currency">₽</span>
						</p>
					</div>
					<a href="" class="btn second-item-btn">
						<span class="btn-span">Заказать</span>
					</a>
				</div>
			</div>
			<div class="catalog-item gsapFadeTop2" data-delay="0.2" data-height="50">
				<img src="img/catalog3.png" alt="" class="catalog-item-img">
				<div class="catalog-item-content">
					<div class="catalog-item-top">
						<p class="catalog-item-text">Цена</p>
						<p class="second-item-price">
							<span class="second-item-price-number">870</span>
							<span class="second-item-price-currency">₽</span>
						</p>
					</div>
					<a href="" class="btn second-item-btn">
						<span class="btn-span">Заказать</span>
					</a>
				</div>
			</div>
			<div class="catalog-item gsapFadeTop2" data-delay="0.3" data-height="50">
				<img src="img/catalog5.png" alt="" class="catalog-item-img">
				<div class="catalog-item-content">
					<div class="catalog-item-top">
						<p class="catalog-item-text">Цена</p>
						<p class="second-item-price">
							<span class="second-item-price-number">870</span>
							<span class="second-item-price-currency">₽</span>
						</p>
					</div>
					<a href="" class="btn second-item-btn">
						<span class="btn-span">Заказать</span>
					</a>
				</div>
			</div>
			<div class="catalog-item gsapFadeTop2" data-delay="0.4" data-height="50">
				<img src="img/catalog3.png" alt="" class="catalog-item-img">
				<div class="catalog-item-content">
					<div class="catalog-item-top">
						<p class="catalog-item-text">Цена</p>
						<p class="second-item-price">
							<span class="second-item-price-number">870</span>
							<span class="second-item-price-currency">₽</span>
						</p>
					</div>
					<a href="" class="btn second-item-btn">
						<span class="btn-span">Заказать</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
