<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=360, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "header-fixed.html"
	@import "menu-mobile.html"
	<section class="payment">
		<div class="container">
			<h4 class="delivery-subtitle subtitle">
				<span class="subtitle-span">Способы оплаты</span>
			</h4>
			<p class="delivery-description">Оплатить свой заказ вы можете в разделе «Мои заказы» в личном кабинете.</p>
			<div class="delivery-item">
				<p class="delivery-item-title">Оплата банковскими картами</p>
				<label class="delivery-item-block delivery-item-block_third">
					<input type="radio" class="delivery-item-radio" name="payment">
					<span class="delivery-item-overlay"></span>
					<p class="delivery-item-subtitle">Visa или Mastercard</p>
					<p class="payment-text">Вы можете оплатить заказ, используя банковскую карту Visa или Mastercard. Выберите способ оплаты: «Банковские карты», и вы будете перенаправлены на сайт сервиса ROBOKASSA. Следуйте инструкциям.
						Для осуществления платежа Вам потребуется сообщить данные Вашей пластиковой карты. Передача этих сведений производится с соблюдением всех необходимых мер безопасности. Данные будут сообщены только на авторизационный сервер Банка по защищенному каналу (протокол SSL 3.0). Информация передается в зашифрованном виде и сохраняется только на специализированном сервере платежной системы.</p>
				</label>
			</div>
			<div class="delivery-item">
				<p class="delivery-item-title">Оплата платежными сервисами</p>
				<label class="delivery-item-block delivery-item-block_fourth">
					<input type="radio" class="delivery-item-radio" name="payment">
					<span class="delivery-item-overlay"></span>
					<p class="delivery-item-subtitle">Яндекс.Деньги</p>
					<p class="payment-text">Яндекс.Деньги — доступный и безопасный способ платить за товары и услуги через интернет. Пополнение счета и оплата заказов происходят в реальном времени на сайте платежной системы. Для перевода средств на наш электронный кошелек необходимо иметь собственный счет в системе «Яндекс.Деньги» и достаточную для перевода сумму.</p>
					<p class="payment-text">Для этого выберите способ оплаты: «Яндекс.Деньги», вы будете перенаправлены на сайт сервиса ROBOKASSA. Далее следуйте инструкциям.</p>
				</label>
				<label class="delivery-item-block delivery-item-block_fifth">
					<input type="radio" class="delivery-item-radio" name="payment">
					<span class="delivery-item-overlay"></span>
					<p class="delivery-item-subtitle">QIWI</p>
					<p class="payment-text">QIWI Кошелек — это простой способ оплаты услуг, позволяющий вносить денежные средства в любое удобное время, где бы вы не находились, т. к. QIWI Кошелек есть в платежных терминалах, в Интернете на сайте QIWI, в приложениях для социальных сетей и в мобильных устройств.</p>
					<p class="payment-text">Оплатить товары Vsemayki.ru можно как в терминалах, так и через «QIWI Кошелек» на сайте QIWI.</p>
					<p class="payment-text">Сформируйте заказ и выберите в качестве способа оплаты QIWI Кошелек. Оплатите автоматически созданный счет на оплату: на сайте QIWI, терминале QIWI, с помощью приложения для социальных сетей или мобильного телефона
						При оплате через терминал QIWI:</p>
					<ul class="delivery-list">
						<li class="delivery-list-item">В терминале QIWI, нажмите среднюю кнопку «QIWI Кошелек» и введите номер мобильного, который вы указали при формировании заказа</li>
						<li class="delivery-list-item">Нажмите кнопку «Счета к Оплате» (она будет мигать)</li>
						<li class="delivery-list-item">Оплатите счет наличными</li>
						<li class="delivery-list-item">Сдачу переведите к себе на мобильный телефон</li>
					</ul>
				</label>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
