<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header-main.html"
	<section class="first">
		<div class="first-slider">
			<div class="first-slider-item">
				<div class="container">
					<div class="first-slider-overlay">
						<img src="img/first-img.png" alt="" class="first-slider-img">
					</div>
					<h2 class="first-slider-title">
						<span class="first-slider-title-span">Заказать</span>
						<span class="first-slider-title-span">печать на</span>
						<span class="first-slider-title-span">футболку</span>
						<span class="first-slider-title-span">онлайн</span>
					</h2>
					<a href="" class="first-slider-btn btn">
						<span class="btn-span">Смотреть каталог</span>
					</a>
				</div>
			</div>
			<div class="first-slider-item">
				<div class="container">
					<div class="first-slider-overlay">
						<img src="img/first-img.png" alt="" class="first-slider-img">
					</div>
					<h2 class="first-slider-title">
						<span class="first-slider-title-span">Заказать</span>
						<span class="first-slider-title-span">печать на</span>
						<span class="first-slider-title-span">футболку</span>
						<span class="first-slider-title-span">онлайн</span>
					</h2>
					<a href="" class="first-slider-btn btn">
						<span class="btn-span">Смотреть каталог</span>
					</a>
				</div>
			</div>
			<div class="first-slider-item">
				<div class="container">
					<div class="first-slider-overlay">
						<img src="img/first-img.png" alt="" class="first-slider-img">
					</div>
					<h2 class="first-slider-title">
						<span class="first-slider-title-span">Заказать</span>
						<span class="first-slider-title-span">печать на</span>
						<span class="first-slider-title-span">футболку</span>
						<span class="first-slider-title-span">онлайн</span>
					</h2>
					<a href="" class="first-slider-btn btn">
						<span class="btn-span">Смотреть каталог</span>
					</a>
				</div>
			</div>
			<div class="first-slider-item">
				<div class="container">
					<div class="first-slider-overlay">
						<img src="img/first-img.png" alt="" class="first-slider-img">
					</div>
					<h2 class="first-slider-title">
						<span class="first-slider-title-span">Заказать</span>
						<span class="first-slider-title-span">печать на</span>
						<span class="first-slider-title-span">футболку</span>
						<span class="first-slider-title-span">онлайн</span>
					</h2>
					<a href="" class="first-slider-btn btn">
						<span class="btn-span">Смотреть каталог</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="second">
		<div class="second-content">
			<div class="second-item">
				<img src="img/cart1.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
			<div class="second-item">
				<img src="img/cart2.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
			<div class="second-item">
				<img src="img/cart3.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
			<div class="second-item">
				<img src="img/cart4.png" alt="" class="second-item-img">
				<div class="second-item-content">
					<h6 class="second-item-title">Поло</h6>
					<div class="second-item-info">
						<div class="second-item-row">
							<p class="second-item-text">С печатью от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">870</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<div class="second-item-row">
							<p class="second-item-text">Без печати от:</p>
							<p class="second-item-price">
								<span class="second-item-price-number">600</span>
								<span class="second-item-price-currency">₽</span>
							</p>
						</div>
						<a href="" class="btn second-item-btn">
							<span class="btn-span">Смотреть каталог</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="third">
		<div class="container">
			<h3 class="third-subtitle subtitle">
				<span class="subtitle-span">Технологии</span>
			</h3>
			<p class="third-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
			<div class="third-main">
				<div class="third-item">
					<img src="img/item1.jpg" alt="" class="third-item-img">
					<div class="third-item-info">
						<h4 class="third-item-title">шелкография</h4>
						<div class="third-item-row">
							<div class="third-item-block">
								<p class="third-item-text">Печать от:</p>
								<div class="third-item-value">
									<p class="third-item-number">1</p>
									<p class="third-item-sub">шт.</p>
								</div>
							</div>
							<div class="third-item-block">
								<p class="third-item-text">срок от:</p>
								<div class="third-item-value">
									<p class="third-item-number">3-5</p>
									<p class="third-item-sub">д.</p>
								</div>
							</div>
						</div>
						<a href="" class="third-item-link">Детальнее</a>
					</div>
				</div>
				<div class="third-item">
					<img src="img/item2.jpg" alt="" class="third-item-img">
					<div class="third-item-info">
						<h4 class="third-item-title">шелкография</h4>
						<div class="third-item-row">
							<div class="third-item-block">
								<p class="third-item-text">Печать от:</p>
								<div class="third-item-value">
									<p class="third-item-number">1</p>
									<p class="third-item-sub">шт.</p>
								</div>
							</div>
							<div class="third-item-block">
								<p class="third-item-text">срок от:</p>
								<div class="third-item-value">
									<p class="third-item-number">3-5</p>
									<p class="third-item-sub">д.</p>
								</div>
							</div>
						</div>
						<a href="" class="third-item-link">Детальнее</a>
					</div>
				</div>
				<div class="third-item">
					<img src="img/item3.jpg" alt="" class="third-item-img">
					<div class="third-item-info">
						<h4 class="third-item-title">шелкография</h4>
						<div class="third-item-row">
							<div class="third-item-block">
								<p class="third-item-text">Печать от:</p>
								<div class="third-item-value">
									<p class="third-item-number">1</p>
									<p class="third-item-sub">шт.</p>
								</div>
							</div>
							<div class="third-item-block">
								<p class="third-item-text">срок от:</p>
								<div class="third-item-value">
									<p class="third-item-number">3-5</p>
									<p class="third-item-sub">д.</p>
								</div>
							</div>
						</div>
						<a href="" class="third-item-link">Детальнее</a>
					</div>
				</div>
				<div class="third-item">
					<img src="img/item4.jpg" alt="" class="third-item-img">
					<div class="third-item-info">
						<h4 class="third-item-title">шелкография</h4>
						<div class="third-item-row">
							<div class="third-item-block">
								<p class="third-item-text">Печать от:</p>
								<div class="third-item-value">
									<p class="third-item-number">1</p>
									<p class="third-item-sub">шт.</p>
								</div>
							</div>
							<div class="third-item-block">
								<p class="third-item-text">срок от:</p>
								<div class="third-item-value">
									<p class="third-item-number">3-5</p>
									<p class="third-item-sub">д.</p>
								</div>
							</div>
						</div>
						<a href="" class="third-item-link">Детальнее</a>
					</div>
				</div>
				<div class="third-item">
					<img src="img/item5.jpg" alt="" class="third-item-img">
					<div class="third-item-info">
						<h4 class="third-item-title">шелкография</h4>
						<div class="third-item-row">
							<div class="third-item-block">
								<p class="third-item-text">Печать от:</p>
								<div class="third-item-value">
									<p class="third-item-number">1</p>
									<p class="third-item-sub">шт.</p>
								</div>
							</div>
							<div class="third-item-block">
								<p class="third-item-text">срок от:</p>
								<div class="third-item-value">
									<p class="third-item-number">3-5</p>
									<p class="third-item-sub">д.</p>
								</div>
							</div>
						</div>
						<a href="" class="third-item-link">Детальнее</a>
					</div>
				</div>
				<div class="third-item">
					<img src="img/item6.jpg" alt="" class="third-item-img">
					<div class="third-item-info">
						<h4 class="third-item-title">шелкография</h4>
						<div class="third-item-row">
							<div class="third-item-block">
								<p class="third-item-text">Печать от:</p>
								<div class="third-item-value">
									<p class="third-item-number">1</p>
									<p class="third-item-sub">шт.</p>
								</div>
							</div>
							<div class="third-item-block">
								<p class="third-item-text">срок от:</p>
								<div class="third-item-value">
									<p class="third-item-number">3-5</p>
									<p class="third-item-sub">д.</p>
								</div>
							</div>
						</div>
						<a href="" class="third-item-link">Детальнее</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="fourth">
		<div class="container">
			<h2 class="first-slider-title first-slider-title_fourth">
				<span class="first-slider-title-span">Печать на</span>
				<span class="first-slider-title-span">футболках</span>
				<span class="first-slider-title-span">от 1 шт.</span>
			</h2>
			<p class="fourth-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor . Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
			<a href="" class="fourth-btn btn">
				<span class="btn-span">Смотреть каталог</span>
			</a>
		</div>
	</section>
	<section class="fifth">
		<div class="container">
			<div class="fifth-row">
				<div class="fifth-left">
					<img src="img/fifth1.jpg" alt="" class="fifth-img">
				</div>
				<div class="fifth-right">
					<div class="fifth-right-top">
						<h4 class="fifth-right-title">
							<span class="fifth-right-span">чувствующим</span>
							<span class="fifth-right-span">стиль</span>
						</h4>
						<p class="fifth-right-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						<p class="fifth-right-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					</div>
					<a href="" class="fifth-btn btn">
						<span class="btn-span">Смотреть каталог</span>
					</a>
				</div>
			</div>
			<div class="fifth-row fifth-row_custom fifth-row_reverse">
				<div class="fifth-left">
					<img src="img/fifth2.jpg" alt="" class="fifth-img">
				</div>
				<div class="fifth-right">
					<div class="fifth-right-top">
						<h4 class="fifth-right-title">
							<span class="fifth-right-span">тем, кто любит.</span>
						</h4>
						<p class="fifth-right-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						<p class="fifth-right-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					</div>
					<a href="" class="fifth-btn btn">
						<span class="btn-span">Смотреть каталог</span>
					</a>
				</div>
			</div>
			<div class="fifth-row">
				<div class="fifth-left">
					<img src="img/fifth3.jpg" alt="" class="fifth-img">
				</div>
				<div class="fifth-right">
					<div class="fifth-right-top">
						<h4 class="fifth-right-title">
							<span class="fifth-right-span">владельцам</span>
							<span class="fifth-right-span">бизнеса</span>
						</h4>
						<p class="fifth-right-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						<p class="fifth-right-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					</div>
					<a href="" class="fifth-btn btn">
						<span class="btn-span">Смотреть каталог</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
