<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "header-fixed.html"
	<section class="delivery">
		<div class="container">
			<h4 class="delivery-subtitle subtitle">
				<span class="subtitle-span">Способы доставки</span>
			</h4>
			<p class="delivery-description">Доставка осуществляется по России, Казахстану, Беларуси, Киргизии, Армении, Украине</p>
			<div class="delivery-item">
				<p class="delivery-item-title">Курьерская служба</p>
				<div class="delivery-item-block delivery-item-block_first">
					<p class="delivery-item-subtitle">Доставка курьером СДЭК</p>
					<ul class="delivery-list">
						<li class="delivery-list-item">Срок доставки считается в рабочих днях после изготовления изделия.</li>
						<li class="delivery-list-item">Доставка осуществляется с 9 до 18ч (понедельник-пятница), в некоторых городах доступна вечерняя доставка до 21ч и доставка по субботам и воскресеньям.</li>
						<li class="delivery-list-item">Оплата курьеру наличными. Безналичный расчет доступен не во всех городах.</li>
						<li class="delivery-list-item">Более подробная информация по телефону 8-800-250-04-05</li>
					</ul>
					<div class="delivery-row">
						<div class="delivery-row-item">
							<p class="delivery-row-key">Сроки доставки</p>
							<p class="delivery-row-value">от 2 дней</p>
						</div>
						<div class="delivery-row-item">
							<p class="delivery-row-key">стоимость доставки</p>
							<p class="delivery-row-value">155 руб.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="delivery-item">
				<p class="delivery-item-title">Самовывоз</p>
				<div class="delivery-item-block delivery-item-block_second">
					<p class="delivery-item-subtitle">Самовывоз</p>
					<ul class="delivery-list">
						<li class="delivery-list-item">Самовывоз из наших и партнерских пунктов выдачи</li>
					</ul>
					<div class="delivery-row">
						<div class="delivery-row-item">
							<p class="delivery-row-key">Сроки доставки</p>
							<p class="delivery-row-value">от 2 дней</p>
						</div>
						<div class="delivery-row-item">
							<p class="delivery-row-key">стоимость доставки</p>
							<p class="delivery-row-value">155 руб.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
