<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=360, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "header-fixed.html"
	@import "menu-mobile.html"
	<section class="services">
		<div class="fourth fourth gsapFadeTop" data-height="200" data-delay="0.1">
			<div class="fourth-overlay"></div>
			<div class="container">
				<h2 class="first-slider-title first-slider-title_fourth">
					<span class="first-slider-title-span span-overflow">
						<span class="span-transform gsapTop first-slider-title-span" data-delay="0.5">Термоперенос</span>
					</span>
				</h2>
				<p class="fourth-text gsapFadeTop2" data-height="30" data-delay="0.6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor . Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
				<a href="" class="fourth-btn fourth-btn_services btn gsapFadeTop2" data-height="30" data-delay="0.7">
					<span class="btn-span">
						<img src="img/play.svg" alt="" class="btn-span-img">
						Смотреть видео
					</span>
				</a>
			</div>
		</div>
		<div class="services-main">
			<div class="services-content">
				<div class="container">
					<div class="services-content-flex">
						<div class="services-content-left">
							<p class="services-content-text">Для нанесения принтов методом термопереноса используется текстильная термопленка. Профессиональное оборудование (плоттер) прорезает на листе термопленки контур изображения, после чего с листа вручную удаляются лишние детали. Готовая плёнка прижимается термопрессом к ткани и закрепляется на изделии, благодаря давлению и высокой температуре пресса. Пленки наносятся по типу аппликации (сколько цветов в изображении, столько цветов плёнки вырезается и печатается).</p>
							<p class="services-content-text">Пленка толщиной всего 80 микрон отличается высокой стойкостью, не выцветает и не трескается. Для печати необходим макет, сделанный в векторном редакторе. Сотрудники студий яМайка помогут вам перевести любой макет в векторный формат, если это технически возможно. Если вы хотите напечатать надпись, то текстовый макет в наших студиях печати мы сделаем вам бесплатно.</p>
						</div>
						<div class="services-content-right">
							<div class="services-content-block">
								<h6 class="services-content-title">подходит для:</h6>
								<ul class="services-content-list">
									<li class="services-content-item">печати надписей</li>
									<li class="services-content-item">печати принтов в 2-3 цвета</li>
									<li class="services-content-item">печати номеров на спортивной форме</li>
									<li class="services-content-item">любой индивидуализации (фамилии, имена, пожелания)</li>
								</ul>
							</div>
							<div class="services-content-block">
								<h6 class="services-content-title">не подходит для:</h6>
								<ul class="services-content-list services-content-list_none">
									<li class="services-content-item">печати фото и полноцветных изображений</li>
									<li class="services-content-item">тиражей больше 50 штук</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="services-gallery">
				<div class="services-gallery-overflow">
					<div class="services-gallery-tabs">
						<a href="" class="services-gallery-tab active">ЛЮДИ В ФУТБОЛКАХ</a>
						<a href="" class="services-gallery-tab">ПРИНТЫ в макро</a>
						<a href="" class="services-gallery-tab">ПРОИЗВОДСТВЕННЫЙ процесс</a>
					</div>
				</div>
				<div class="services-gallery-main">
					<div class="services-gallery-slider">
						<div class="services-gallery-item">
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.1">
								<img src="img/gallery1.jpg" alt="" class="services-gallery-img">
							</div>
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.1">
								<img src="img/gallery2.jpg" alt="" class="services-gallery-img">
							</div>
						</div>
						<div class="services-gallery-item">
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.2">
								<img src="img/gallery4.jpg" alt="" class="services-gallery-img">
							</div>
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.2">
								<img src="img/gallery3.jpg" alt="" class="services-gallery-img">
							</div>
						</div>
						<div class="services-gallery-item">
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.3">
								<img src="img/gallery5.jpg" alt="" class="services-gallery-img">
							</div>
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.3">
								<img src="img/gallery6.jpg" alt="" class="services-gallery-img">
							</div>
						</div>
						<div class="services-gallery-item">
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.4">
								<img src="img/gallery8.jpg" alt="" class="services-gallery-img">
							</div>
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.4">
								<img src="img/gallery7.jpg" alt="" class="services-gallery-img">
							</div>
						</div>
						<div class="services-gallery-item">
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.1">
								<img src="img/gallery1.jpg" alt="" class="services-gallery-img">
							</div>
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.1">
								<img src="img/gallery2.jpg" alt="" class="services-gallery-img">
							</div>
						</div>
						<div class="services-gallery-item">
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.2">
								<img src="img/gallery4.jpg" alt="" class="services-gallery-img">
							</div>
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.2">
								<img src="img/gallery3.jpg" alt="" class="services-gallery-img">
							</div>
						</div>
						<div class="services-gallery-item">
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.3">
								<img src="img/gallery5.jpg" alt="" class="services-gallery-img">
							</div>
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.3">
								<img src="img/gallery6.jpg" alt="" class="services-gallery-img">
							</div>
						</div>
						<div class="services-gallery-item">
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.4">
								<img src="img/gallery8.jpg" alt="" class="services-gallery-img">
							</div>
							<div class="services-gallery-block gsapFadeTop2" data-height="30" data-delay="0.4">
								<img src="img/gallery7.jpg" alt="" class="services-gallery-img">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="services-table">
				<div class="container">
					<h4 class="services-table-subtitle subtitle span-overflow">
						<span class="span-transform gsapFadeTop2" data-height="30" data-delay="0.2">цены на термоперенос</span>
					</h4>
					<p class="services-table-description gsapFadeTop2" data-height="30" data-delay="0.3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
					<div class="price-table gsapFade" data-delay="0.1">
						<div class="price-table-top">
							<div class="price-column price-format">
								<p class="price-item-title">Формат</p>
							</div>
							<div class="price-column price-color">
								<p class="price-item-title">Цветность</p>
							</div>
							<div class="price-column price-edition">
								<p class="price-item-title">Тираж</p>
							</div>
							<div class="price-column"></div>
							<div class="price-column"></div>
							<div class="price-column"></div>
						</div>
						<div class="price-table-subtop">
							<div class="price-column price-format"></div>
							<div class="price-column price-color"></div>
							<div class="price-column price-edition">
								<p class="price-item-text">1</p>
							</div>
							<div class="price-column">
								<p class="price-item-text">20</p>
							</div>
							<div class="price-column">
								<p class="price-item-text">35</p>
							</div>
							<div class="price-column">
								<p class="price-item-text">50</p>
							</div>
						</div>
						<div class="price-table-main">
							<div class="price-table-row">
								<div class="price-column price-format">
									<div class="price-format-item">
										<p class="price-format-item-subtitle">A6</p>
										<p class="price-format-item-text">10x15</p>
									</div>
								</div>
								<div class="price-column price-color">
									<p class="price-item-text">1</p>
									<p class="price-item-text">2</p>
									<p class="price-item-text">2</p>
								</div>
								<div class="price-column price-edition">
									<p class="price-item-text">200</p>
									<p class="price-item-text">200</p>
									<p class="price-item-text">200</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">122</p>
									<p class="price-item-text">122</p>
									<p class="price-item-text">122</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">108</p>
									<p class="price-item-text">108</p>
									<p class="price-item-text">108</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">98</p>
									<p class="price-item-text">98</p>
									<p class="price-item-text">98</p>
								</div>
							</div>
							<div class="price-table-row">
								<div class="price-column price-format">
									<div class="price-format-item">
										<p class="price-format-item-subtitle">A5</p>
										<p class="price-format-item-text">15x20</p>
									</div>
								</div>
								<div class="price-column price-color">
									<p class="price-item-text">1</p>
									<p class="price-item-text">2</p>
									<p class="price-item-text">2</p>
								</div>
								<div class="price-column price-edition">
									<p class="price-item-text">200</p>
									<p class="price-item-text">200</p>
									<p class="price-item-text">200</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">122</p>
									<p class="price-item-text">122</p>
									<p class="price-item-text">122</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">108</p>
									<p class="price-item-text">108</p>
									<p class="price-item-text">108</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">98</p>
									<p class="price-item-text">98</p>
									<p class="price-item-text">98</p>
								</div>
							</div>
							<div class="price-table-row">
								<div class="price-column price-format">
									<div class="price-format-item">
										<p class="price-format-item-subtitle">A4</p>
										<p class="price-format-item-text">10x15</p>
									</div>
								</div>
								<div class="price-column price-color">
									<p class="price-item-text">1</p>
									<p class="price-item-text">2</p>
									<p class="price-item-text">2</p>
								</div>
								<div class="price-column price-edition">
									<p class="price-item-text">200</p>
									<p class="price-item-text">200</p>
									<p class="price-item-text">200</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">122</p>
									<p class="price-item-text">122</p>
									<p class="price-item-text">122</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">108</p>
									<p class="price-item-text">108</p>
									<p class="price-item-text">108</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">98</p>
									<p class="price-item-text">98</p>
									<p class="price-item-text">98</p>
								</div>
							</div>
							<div class="price-table-row">
								<div class="price-column price-format">
									<div class="price-format-item">
										<p class="price-format-item-subtitle">A3</p>
										<p class="price-format-item-text">15x20</p>
									</div>
								</div>
								<div class="price-column price-color">
									<p class="price-item-text">1</p>
									<p class="price-item-text">2</p>
									<p class="price-item-text">2</p>
								</div>
								<div class="price-column price-edition">
									<p class="price-item-text">200</p>
									<p class="price-item-text">200</p>
									<p class="price-item-text">200</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">122</p>
									<p class="price-item-text">122</p>
									<p class="price-item-text">122</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">108</p>
									<p class="price-item-text">108</p>
									<p class="price-item-text">108</p>
								</div>
								<div class="price-column">
									<p class="price-item-text">98</p>
									<p class="price-item-text">98</p>
									<p class="price-item-text">98</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="" class="services-btn btn">
				<span class="btn-span">
					Узнать цены
				</span>
			</a>
		</div>
    </section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
